<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommonTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9A502A01E54271B00C7E351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9A502B91E54271B00C7E351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9A502C41E54271B00C7E351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
